@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar{
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav"></ul>
    }

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
        </ol>

        <a target="_blank" href="Add/"><h5>Add a New Contact >></h5></a>

    </div>
    <!-- /.container-fluid -->
