@model CittaDashboard.Models.DB.Contact

@{
    ViewBag.Title = "Add New Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

@section Sidebar{
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav"></ul>
    }

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>Add New Contact</a>
                </li>
            </ol>
            <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                }

                .button4 {
                    border-radius: 6px;
                }

                .control {
                    width: 459px;
                    height: 100px;
                }
            </style>


            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.ValidationSummary(true)

                <fieldset>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Name, new { id = "ValidateNametextbox", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>


                    <p>
                        <input id="SubmitProject" class="button button4" type="submit" value="Save" onclick="saveToFile()" />
                    </p>
                </fieldset>
            }
            <script type="text/javascript">

                function saveToFile() {
                    if ($("#ValidateNametextbox").val() == "") {
                        alert("Comment Section should not be empty!!");
                    }
                    else {
                        alert("Go To Home Page of Client Browser.");
                    }
                };
            </script>

        </div>
        <!-- /.container-fluid -->
